.MMM-Bitunix {
  --font-main: Arial, sans-serif;
  --font-size-main: 30px;
  --font-size-change: 26px;
  --font-size-unit: 20px;

  --color-symbol: #fff;
  --color-positive: #00ff7f;
  --color-negative: #ff4040;
  --color-neutral: #aaa;
  --color-marker: #FFD700;

  --opacity-marker: 1.0;
  --opacity-unit: 0.8;

  --spacing-item: 36px;
  --spacing-symbol-price: 4px;
  --spacing-change: 8px;
}


.MMM-Bitunix .bitunix-wrapper {
  font-family: var(--font-main);
  font-size: var(--font-size-main);
}

.MMM-Bitunix .bitunix-item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
  min-width: auto;
  margin-right: var(--spacing-item);
}

.MMM-Bitunix .bitunix-item .symbol {
  flex: 0 0 auto;
  font-weight: bold;
  color: var(--color-symbol);
  isolation: isolate;
  margin-right: var(--spacing-symbol-price);
}

.MMM-Bitunix .bitunix-item.positive,
.MMM-Bitunix .bitunix-item.positive .change {
  color: var(--color-positive);
  font-weight: bold;
}

.MMM-Bitunix .bitunix-item.negative,
.MMM-Bitunix .bitunix-item.negative .change {
  color: var(--color-negative);
  font-weight: bold;
}

.MMM-Bitunix .bitunix-item.neutral,
.MMM-Bitunix .bitunix-item.neutral .change {
  color: var(--color-neutral);
}

.MMM-Bitunix .bitunix-item .price {
  flex: 0 0 auto;
  margin-right: 0;
}

.MMM-Bitunix .bitunix-item .unit {
  font-size: var(--font-size-unit);
  opacity: var(--opacity-unit);
  margin-left: 3px;
}

.MMM-Bitunix .bitunix-item .change {
  font-size: var(--font-size-change);
  flex: 0 0 auto;
  text-align: right;
  margin-left: var(--spacing-change);
}

.MMM-Bitunix .bitunix-item.loop-marker {
  display: inline-flex;
  align-items: baseline;
  margin-right: var(--spacing-item);
}

.MMM-Bitunix .bitunix-item.loop-marker .marker {
  color: var(--color-marker);
  font-size: var(--font-size-main);
  opacity: var(--opacity-marker);
}

.MMM-Bitunix .bitunix-scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.MMM-Bitunix .bitunix-tickerframe {
  display: flex;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  animation: bitunix-scroll-anim linear infinite;
  animation-duration: var(--scroll-speed);
}

.MMM-Bitunix .bitunix-tickerframe.scrolling {
  animation-play-state: running;
}

.MMM-Bitunix .bitunix-tickerframe.no-scroll {
  animation: none;
}

@keyframes bitunix-scroll-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}