<div class="MMM-Bitunix">
  <div class="bitunix-wrapper"
       style="animation: fadeInOut {{ stock.fadeDuration }}s ease-in-out forwards;">
    {% if stock %}
      <div class="bitunix-item
        {% if stock.changePercent > 0 %}positive
        {% elif stock.changePercent < 0 %}negative
        {% else %}neutral{% endif %}">
        <span class="symbol">{{ stock.displayName }} ({{ stock.cleanSymbol }})</span><span class="colon">:</span>
        <span class="price">{{ stock.lastPrice.toFixed(stock.decimals) }}</span>
        <span class="usdt">USDT</span>
        {% if config.showChangePercent %}
          <span class="change">({{ stock.changePercent.toFixed(2) }}%)</span>
        {% endif %}
      </div>
    {% else %}
      <div class="bitunix-item neutral">Loading...</div>
    {% endif %}
  </div>
</div>
